<!-- <h4 style='color:green; background-color:lightgreen' >Input / Edit Data Direktorat</h4> -->
<md-card>
	<md-card-content>
		<md-toolbar class="md-table-toolbar md-default" ng-show="!showCari" >
			<div class="md-toolbar-tools">
				<h4>Bank</h4> 
				<span flex></span>
				<!-- md-fab md-mini md-icon-button md-accent md-primary-->
				<md-button class="md-fab md-mini md-primary md-hue-2  " aria-label="loadIsi" ng-click="loadIsi()">
					<md-tooltip>
		            	Cari data
		          	</md-tooltip>
					<md-icon md-svg-icon="images/material-design-icons-3.0.1/action/svg/production/ic_swap_horiz_24px.svg"></md-icon>
				</md-button>			
				<md-button class="md-fab md-mini md-primary md-hue-2 " aria-label="tambah" ng-click="addNew($event)">
					<md-tooltip>
		            	Tambah
		          	</md-tooltip>
					<md-icon md-svg-icon="images/material-design-icons-3.0.1/av/svg/production/ic_playlist_add_48px.svg"></md-icon>
				</md-button>
				<md-button class="md-fab md-mini md-primary md-hue-2" aria-label="preview" ng-click='previewLaporan()'>
					<md-tooltip>
		            	Cetak
		          	</md-tooltip>
					<md-icon md-svg-icon="images/material-design-icons-3.0.1/image/svg/production/ic_picture_as_pdf_48px.svg"></md-icon>
				</md-button>
			</div>
		</md-toolbar>

		<md-toolbar class="md-table-toolbar md-default" ng-show="showCari">
			<br>
			<div class="md-toolbar-tools">
				<md-input-container>
					<label>Nama </label>
					<input id='idCari' type='text' ng-model='search' ng-change='getAll()' >
				</md-input-container>	
				<!-- <span flex></span> -->
				<p>
					<md-button class="md-fab md-mini md-primary md-hue-2 " aria-label="tutup" ng-click="loadIsi()">
						<md-icon md-svg-icon="images/material-design-icons-3.0.1/content/svg/production/ic_clear_24px.svg"></md-icon>
					</md-button>			
				</p>
			</div>
		</md-toolbar>

		<md-table-container>
			<table md-table  >
				<thead md-head  >
					<tr md-row>
						<th md-column style="color:rgb(128, 255, 128)"><span>Kode</span> </th> 
						<th md-column style="color:rgb(128, 255, 128)"><span>Nama</span> </th> 
						<th md-column style="color:rgb(128, 255, 128)"><span>Cabang</span> </th> 
						<th md-column style="color:rgb(128, 255, 128)"><span>Kota</span> </th> 
						<th md-column style="color:rgb(128, 255, 128)"><span>No Acc</span> </th> 
						<th md-column style="color:rgb(128, 255, 128)"><span>Status</span> </th> 
						<th md-column style="color:rgb(128, 255, 128)"><span>Action</span> </th> 

					</tr>	
				</thead>
				<tbody md-body>
					<tr md-row md-select="direktorat" md-select-id="kode" ng-repeat='bank in banks ' >
						<td md-cell>{{bank.kode | uppercase}}</td>			
						<td md-cell>{{bank.nama | uppercase}}</td>			
						<td md-cell>{{bank.namaCabangBank | uppercase}}</td>				
						<td md-cell>{{bank.kota | uppercase}}</td> 
						<td md-cell>{{bank.noAccount}}</td> 
						<td md-cell>{{bank.status}}</td> 
						<td md-cell>
							<md-button class="md-warn" ng-click='edit(bank.id,$event)'>Edit
							<md-tooltip>
				            	{{bank.kode}} - {{bank.nama}}
				          	</md-tooltip>
		          			</md-button>							
						</td>						
					</tr>		
				</tbody>
			</table>			
		</md-table-container>
		<md-table-pagination md-limit="itemsPerPage" md-page="currentPage" md-total="{{totalItems}}" md-on-paginate="getAll" ></md-table-pagination>
	</md-card-content>
</md-card>


