<md-card>
	<md-card-content>
		<md-toolbar class="md-table-toolbar md-default" ng-show="!showCari" >
			<div class="md-toolbar-tools">
				<h4 class="md-headline">Input Book Date</h4> 
				<span flex></span>				
				<md-button class="md-fab md-mini md-primary md-hue-2" aria-label="loadIsi" ng-click="loadIsi()">
					<md-tooltip>
		            	Cari data
		          	</md-tooltip>
					<md-icon md-svg-icon="images/material-design-icons-3.0.1/action/svg/production/ic_swap_horiz_24px.svg"></md-icon>
				</md-button>			
<!-- 				<md-button class="md-fab md-mini md-primary md-hue-2 " aria-label="tambah" ng-click="addNew($event)">
					<md-tooltip>
		            	Tambah
		          	</md-tooltip>
					<md-icon md-svg-icon="images/material-design-icons-3.0.1/av/svg/production/ic_playlist_add_48px.svg"></md-icon>
				</md-button> -->
				
			</div>
		</md-toolbar>

		<md-toolbar class="md-table-toolbar md-default" ng-show="showCari">
			<br>
			<div class="md-toolbar-tools">
				<div layout="row">
					<!-- <div class="column"> -->
						<!-- <md-input-container flex=20>
							<label >No urut</label>
							<input type='text' ng-model='searchNoUrut'  >
						</md-input-container>							
						<md-input-container flex=20>
							<label>No Voucher </label>
							<input type='text' ng-model='searchNoVoucher' >
						</md-input-container>				 -->									
						<md-input-container >	
							<label>Tanggal Awal </label>
							<md-datepicker ng-model="tgl1" ></md-datepicker>									
						</md-input-container>
						<md-input-container   >
							<label>Tanggal Akhir </label>
							<md-datepicker ng-model="tgl2" ></md-datepicker>
						</md-input-container>		
						<p  flex>
							<md-button class="md-fab md-mini md-warn md-hue-2 " aria-label="tutup" ng-click="getAll()">					
								<md-icon md-svg-icon="images/material-design-icons-3.0.1/action/svg/production/ic_youtube_searched_for_48px.svg"></md-icon>
							</md-button>
							<md-button class="md-fab md-mini md-primary md-hue-2 " aria-label="tutup" ng-click="loadIsi()">													
								<md-icon md-svg-icon="images/material-design-icons-3.0.1/content/svg/production/ic_clear_24px.svg"></md-icon>
							</md-button>
						</p>						
					<!-- </div>					 -->
				</div>
				<!-- <span flex></span> -->
			</div>
		</md-toolbar>

		<md-table-container>
			<table md-table  >
				<thead md-head  >
					<tr md-row>
						<!-- <th md-column style="color:rgb(128, 255, 128)" ><span>ID</span> </th> -->
						<th md-column style="color:rgb(128, 255, 128)" ><span>Perkiraan</span> </th> 
						<th md-column style="color:rgb(128, 255, 128)" ><span>No Urut</span> </th> 
						<th md-column style="color:rgb(128, 255, 128)" ><span>No Voucher</span> </th>
						<th md-column style="color:rgb(128, 255, 128)" ><span>Issue Date</span> </th>
						<!-- <th md-column style="color:rgb(128, 255, 128)" ><span>Status</span> </th>  -->
						<th md-column style="color:rgb(128, 255, 128)" ><span>jenis</span> </th> 
						<th md-column style="color:rgb(128, 255, 128)" ><span>Post.Bayar</span></th>
						<th md-column style="color:rgb(128, 255, 128)" ><span>Tarik bayar</span></th>
						<th md-column style="color:rgb(128, 255, 128)" ><span>Action</span> </th> 
					</tr>	
				</thead>
				<tbody md-body>
					<tr md-row ng-repeat='jurnal in jurnalHeaders ' >
						<!-- <td md-cell>{{jurnal.jurnalHeader.id}}</td> -->
						<td md-cell>{{jurnal.accountDetil.namaPerkiraan}}</td>
						<td md-cell>{{jurnal.jurnalHeader.noUrut| uppercase}}</td>			
						<td md-cell>{{jurnal.jurnalHeader.noVoucher | uppercase}}</td>			
						<td md-cell>{{jurnal.jurnalHeader.issueDate | date:'dd-MMM-yyyy'}}</td>
						<!-- <td md-cell>{{jurnal.jurnalHeader.statusVoucher | uppercase}}</td>  -->
						<td md-cell>
							<md-datepicker ng-model="tglBook"   ></md-datepicker>
						<!-- {{jurnal.jurnalHeader.jenisVoucher }} -->
						</td> 
						<td md-cell>
							<div ng-if="jurnal.jurnalHeader.validasiPembayaran">
								<md-icon md-svg-icon="images/material-design-icons-3.0.1/navigation/svg/production/ic_check_18px.svg" style="color:rgb(0, 0, 255)" ></md-icon>
							</div>
						</td> 
						<td md-cell>
							<div ng-if="jurnal.jurnalHeader.tarikPembayaran" >
								<md-icon md-svg-icon="images/material-design-icons-3.0.1/navigation/svg/production/ic_check_18px.svg" style="color:rgb(0, 0, 255)" ></md-icon>
							</div>
						</td> 
						<td md-cell>
							<md-button class="md-button md-primary" ng-click="openDetil($event,jurnal.jurnalHeader.id)">
								<md-tooltip>
					            	Melihat isi jurnal
					          	</md-tooltip>
				            	Detil
							</md-button>
							<md-button class="md-button md-warn" ng-click="proses(tglBook,jurnal.jurnalHeader.id)">
								<md-tooltip>
					            	No Urut [ {{jurnal.jurnalHeader.noUrut| uppercase}} ] -- Tanggal Book [ {{tglBook |  date:'dd-MMM-yyyy'}} ]
					          	</md-tooltip>
				            	Proses
							</md-button>					
		          			<!-- <md-menu>
								<md-button aria-label="Open action" class="md-fab md-raised md-mini md-warn"  ng-click="openMenu($mdOpenMenu, $event)" >
									<md-icon md-menu-origin md-svg-icon="images/material-design-icons-3.0.1/action/svg/production/ic_list_24px.svg"></md-icon>
								</md-button>

							    <md-menu-content width="4">
							        <md-menu-item>
							          	<md-button ng-click="edit(jurnal.id)">
							            	<md-icon md-svg-icon="images/material-design-icons-3.0.1/content/svg/production/ic_create_48px.svg" md-menu-align-target></md-icon>
							            	Edit
							          	</md-button>
							        </md-menu-item>

							        <md-menu-item>
							          	<md-button ng-click="deleteFisikVouc(jurnal.id, $event)">
							            	<md-icon md-svg-icon="images/material-design-icons-3.0.1/content/svg/production/ic_clear_24px.svg"></md-icon>
							            	Delete
							          	</md-button>
							        </md-menu-item>
							        
							        <md-menu-item>
							          	<md-button ng-click="cetakJurnal(jurnal.id)">
							            	<md-icon md-svg-icon="images/material-design-icons-3.0.1/image/svg/production/ic_picture_as_pdf_48px.svg"></md-icon>
							            	Preview
							          	</md-button>
							        </md-menu-item>

							    </md-menu-content>
    						</md-menu> -->

						</td>
						<!-- <td><button type='button' class='btn btn-danger btn-block btn-sm'
							ng-click='hapusDirektorat(direktorat.id,$index)'
							>Delete</button> -->				
					</tr>		
				</tbody>
			</table>			
		</md-table-container>
		<md-table-pagination md-limit="itemsPerPage" md-page="currentPage" md-total="{{totalItems}}" md-on-paginate="getAll" ></md-table-pagination>
	</md-card-content>
</md-card>


