<div growl></div>
    <div style="background-color:whitesmoke">
        
    
    <br><br>    
    <!-- <div align="center" style="background-color:red"> -->
    <div flex="66" flex-offset="15" style="background: url(images/latar.jpg); background-repeat:no-repeat; width:75%; height:450px; background-position: center ;background-size: 100% 100%; " align="center center"  class="md-whiteframe-5dp">
        <br><br>  <br>
        <br><br>
        <div align="center" >
            <img class="border-radius: 50%;background-position: center;" src="images/logo-transp-kecil.png">
        </div>
        
        <div  layout="row" layout-padding layout-wrap layout-margin ng-cloak layout-align="space-around" >

          <div style="background-color:white" class="padded" md-whiteframe="15" flex="100" flex-gt-sm="50" layout="column" layout-align="center center">
            <span>
                <h3 >Accrual Basis</h3>                
            </span>            
            <span>
                <input type="text" id="inputID" ng-model="userId" placeholder="Input User ID" required md-autofocus style="text-align:center"> 
            </span>            
            <span>
                <input  type="password"  ng-model="password" placeholder="Password" required style="text-align:center" text-width="100px"> 
            </span>            
            <span>
                 <md-button class="md-raised md-primary btnRound" ng-click='login()'>
                    Sign in 
                    <!-- <md-icon md-svg-src="your/icon.svg"></md-icon> -->
                 </md-button>
            </span>        
            
          </div>
        </div>
    </div>

</div>



        <!-- <div class="container" style="width:30%" > -->
       <!--  <div flex="66" flex-offset="15">
             -->

           <!--  <div layout="row" layout-padding layout-wrap layout-fill style="padding-bottom: 5px;" ng-cloak >
                <md-whiteframe class="md-whiteframe-5dp" layout layout-align="center center">
                    <span>
                        User id
                    </span>
                    <span>
                        <input type="text" id="inputID" ng-model="userId" class="form-control text-center" placeholder="Input User ID" required autofocus>
                    </span>
                    <br>
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" ng-model="password" class="form-control text-center" placeholder="Password" required> -->
                    <!-- ng-keypress="login()" 
                    <br>
                    
                    <! <span>.md-whiteframe-1dp</span> -->
                <!-- </md-whiteframe>
            </div> --> 
            
        <!-- <form class="form-signin" role="form"> -->
          <!-- <div class='row text-center'> -->
            <!-- <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" style="width: 200px; height: 200px;"> -->
          
            
            <!-- <uib-alert type="danger">Authentication</uib-alert> -->
        <!--     <h3  class="form-signin-heading text-center" style='color:red'>Authentication</h3>
            <br>
            
            <br>
          </div> -->
        <!-- </form> -->

        <!-- </div> -->
         <!-- /container -->

        <!-- </div> -->
   <!--  </div> -->
    <!-- </div> -->
<!-- <br><br><br><br><br><br> -->