<md-dialog arial-label="Detil" flex="80" >
    <form ng-cloak>
<!--     <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Bagian</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click='tutupDetil()'>
                <md-icon md-svg-src="images/material-design-icons-3.0.1/content/svg/production/ic_clear_24px.svg" aria-label="Close dialog" ></md-icon>
            </md-button>
        </div>
    </md-toolbar> -->
<!-- style="width:800px;max-height:810px; " -->
    <md-dialog-content   >
        <div class="md-dialog-content">            

            <div layout="row">         
                <md-input-container>
                    <label>Bank</label>
                    <input type='text' ng-model='bank' disabled >
                </md-input-container>   
                      
                <md-input-container>
                    <label>No Urut</label>
                    <input id='idCari' type='text' ng-model='cariNoUrut'  >
                </md-input-container>   

                <!-- <md-input-container  >
                    <label>Tanggal </label>
                    <md-datepicker ng-model="tglAwal"   ></md-datepicker>
                </md-input-container>
                
                <md-input-container  >
                    <label>Tanggal </label>
                    <md-datepicker ng-model="tglAkhir"   ></md-datepicker>
                </md-input-container> -->
                
                <div flex>
                    <p>
                        <md-button class="md-fab md-mini md-warn md-hue-2 " aria-label="tutup" ng-click="refreshData()">
                            <md-icon md-svg-icon="images/material-design-icons-3.0.1/action/svg/production/ic_youtube_searched_for_48px.svg"></md-icon>
                        </md-button>                   
                    </p>
                </div>       
            </div>

            <md-table-container>
                <table md-table  >
                    <thead md-head  >
                        <tr md-row>
                            <th md-column style="color:rgb(128, 255, 128)" ><span>ID</span> </th> 
                            <th md-column style="color:rgb(128, 255, 128)" ><span>No Urut</span> </th>
                            <th md-column style="color:rgb(128, 255, 128)" ><span>Issue Date</span> </th>
                            <th md-column style="color:rgb(128, 255, 128)"><span>Customer</span> </th>
                            <th md-column style="color:rgb(128, 255, 128)"><span>keterangan</span> </th> 
                            <th md-column style="color:rgb(128, 255, 128)"><span>Total</span> </th> 
                            <th md-column style="color:rgb(128, 255, 128)"><span>Action</span> </th> 
                        </tr>   
                    </thead>
                    <tbody md-body>
                        <tr md-row md-select-id="kode" ng-repeat='jurnalDetil in jurnalDetils ' >
                            <td md-cell>{{jurnalDetil.id | uppercase}}</td>            
                            <td md-cell>{{jurnalDetil.jurnalHeader.noUrut | uppercase}}</td>    
                            <td md-cell>{{jurnalDetil.jurnalHeader.issueDate | date:'dd-MM-yyyy'}}</td>
                            <td md-cell>{{jurnalDetil.customer.nama | uppercase}}</td>
                            <td md-cell>{{jurnalDetil.keterangan | uppercase}}</td>               
                            <td md-cell>{{jurnalDetil.kredit | number }}</td>
                            <td md-cell>
                                <md-button class="md-warn" ng-click='proses(jurnalDetil.id)'>Proses
                                    <md-tooltip>
                                    Proses [  
                                        {{jurnalDetil.jurnalHeader.noUrut}} - {{jurnalDetil.customer.nama | uppercase}}
                                          ]
                                    </md-tooltip>
                                </md-button>                            
                            </td>           
                        </tr>       
                    </tbody>
                </table>            
            </md-table-container>
            <md-table-pagination md-limit="itemsPerPage" md-page="currentPage" md-total="{{totalItems}}" md-on-paginate="refreshData" ></md-table-pagination>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button class="md-warn" ng-click='ok()'>
            Close
        </md-button>        
        
    </md-dialog-actions>    
    </form>

</md-dialog>