<div  ng-cloak>
    <md-toolbar class="md-menu-toolbar md-warn ">
        <div layout="row">
            <md-toolbar-filler layout layout-align="center center">
                <md-icon md-svg-icon="images/material-design-icons-3.0.1/navigation/svg/production/ic_apps_36px.svg" aria-label="left-menu"></md-icon>
            </md-toolbar-filler>            
            <div>    
                <md-menu-bar>
                    <md-menu>
                        <button ng-click="$mdOpenMenu()">
                            Menu
                        </button>
                            <md-menu-content>
                                <md-menu-item>
                                    <md-button ng-click="transaksiBaru()">
                                        New Transaction
                                    </md-button>
                                </md-menu-item>
                                <md-menu-divider></md-menu-divider>              
                                <md-menu-item>
                                    <md-button ng-click="saveVoucher()">
                                        Save<span class="md-alt-text"> {{ 'M-O' | keyboardShortcut }}</span>
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="openDetil()">
                                        Open Detil
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="printJurnal()">
                                        Print<span class="md-alt-text">{{ 'M-P' | keyboardShortcut }}</span>
                                    </md-button>
                                </md-menu-item>
                                <md-menu-divider></md-menu-divider>            
                                <md-menu-item>
                                    <md-button ng-click="toListJurnal()">
                                        List<span class="md-alt-text">{{ 'M-P' | keyboardShortcut }}</span>
                                    </md-button>
                                </md-menu-item>              
                            </md-menu-content>
                    </md-menu>
                </md-menu-bar>
            </div>
        </div>
    </md-toolbar>

<!-- class="page-container" -->
<!-- class="page"  -->
<md-content  layout ="row"   >
    <md-card flex="90" flex-offset="5" class="md-whiteframe-20dp">
        <md-card-content class="column">
            <div layout="row">
                <md-input-container flex="25" >
                    <label>No Urut</label>
                    <input ng-model="jurnalHeader.noUrut" disabled/>
                </md-input-container>
                <md-input-container flex="25">
                    <label>Booking Date </label>
                    <md-datepicker ng-model="tglBooking" disabled ></md-datepicker>
                </md-input-container>                
                <md-input-container flex="30">
                    <label>Jenis Voucher</label>
                    <md-select ng-model="jurnalHeader.jenisVoucher" ng-disabled="kondisiView || headerAda" ng-blur="cekJenisVoucher()" id="idJenisVoucher" >
                        <md-option ng-repeat="jenisVoucher in jenisVouchers" ng-value="jenisVoucher" >
                        {{jenisVoucher}}
                        </md-option>
                    </md-select>                    
                </md-input-container>              
                <md-input-container flex="10" >
                    <label>ID</label>
                    <input ng-model="jurnalHeader.id"  disabled/>
                </md-input-container>              
                <md-input-container flex="10">
                    <label>Status</label>
                    <input ng-model="StatusData" disabled />
                </md-input-container>                              
            </div>
            <div layout="row">
                <md-input-container flex="25">
                    <label>No Voucher</label>
                    <input ng-model="jurnalHeader.noVoucher" disabled/>
                </md-input-container>
                <md-input-container flex="25" >
                    <label>Issue Date </label>
                    <md-datepicker ng-model="tglIssue"   ></md-datepicker>
                </md-input-container>                
                <md-input-container flex="50">
                    <label>Dibayar kepada</label>
                    <input ng-model="jurnalHeader.diBayar" ng-disabled="disableDibayarKe" id="idDibayarKe" />
                </md-input-container>              
            </div>
            
        <!-- OPEN DETIL -->            
        <!-- style="background-color:navy" -->
        <div  ng-class="classWarnaJenisJurnal" layout-padding class="md-whiteframe-15dp animate-show-hide" flex=90 flex-offset=5 ng-hide="SimpanIsiDetil">        
            <md-card  >
                <md-card-content class="column">
                    <!-- <form> -->
                    <div layout="row">
                        <md-input-container flex="10" ng-disabled="kondisiView" >
                            <label>DK</label>
                            <md-select ng-model="jurnalDetil.dk" id="dkSelected" >
                                <md-option ng-repeat="dk in dks" ng-value="dk" >
                                {{dk}}
                                </md-option>
                            </md-select>
                        </md-input-container>

                        <div flex=25>
                            <md-autocomplete    
                                ng-model="jurnalDetil.accountDetil"
                                md-no-cache="true"
                                md-selected-item="selectedCoa"
                                md-search-text="searchText"
                                md-items="coaHdr in getCoaDtlByKode(searchText)"
                                md-item-text="coaHdr.kodePerkiraan"                                
                                md-min-length="0"
                                md-autoselect="true"
                                md-floating-label="Kode COA"   
                                ng-blur="myFunct($event)"  
                                id="kodeCoa"                           
                                >
                                <!-- id="kodeCoa" -->
                                <!-- ng-blur="myFunct($event)" md-autofocus -->
                                <md-item-template>
                                    <span md-highlight-text="searchText" md-highlight-flags="^i">[{{coaHdr.kodePerkiraan}}]-{{coaHdr.namaPerkiraan}}</span>
                                </md-item-template>
                                <md-not-found>
                                    Tidak ditemukan
                                </md-not-found>
                            </md-autocomplete> 
                            <md-tooltip>
                            Isi '=' untuk COA sama dg sebelumnya
                            </md-tooltip>
                            <!-- {{selectedCoa}}            -->
                        </div>

                        <md-input-container flex=25>
                            <label>Nama</label>
                            <input type="text" ng-model="selectedCoa.namaPerkiraan" disabled>
                        </md-input-container>                

                        <div flex=20>
                            <md-autocomplete    
                                ng-model="bagianSelected"
                                md-no-cache="true"
                                md-selected-item="selectedbBagian"
                                md-search-text="searchTextBagian"
                                md-items="bagian in getBagianByKode(searchTextBagian)"
                                md-item-text="bagian.kode"                                
                                md-min-length="0"
                                md-autoselect="true"
                                md-floating-label="Bagian"                                
                                >
                                <!-- id="kodeCoa" -->
                                <!-- ng-blur="myFunct($event)" md-autofocus -->
                                <md-item-template>
                                    <span md-highlight-text="searchTextBagian" md-highlight-flags="^i">[{{bagian.kode}}]-{{bagian.nama}}</span>
                                </md-item-template>
                                <md-not-found>
                                    Tidak ditemukan
                                </md-not-found>
                            </md-autocomplete>            
                        </div>
                        <md-input-container flex=20>
                            <label>Bagian</label>
                            <input ng-model="selectedbBagian.nama" disabled>
                        </md-input-container>    

                        <!-- <md-input-container flex="30" ng-disabled="kondisiView" >
                            <label>Bagian</label>
                            <md-select ng-model="dkSelected" >
                                <md-option ng-repeat="bagian in bagians" ng-value="bagian">
                                {{bagian.nama}}
                                </md-option>
                            </md-select>
                        </md-input-container> -->
                    </div>

                    <div layout="row">
                        <md-input-container flex="50">
                            <label>Keterangan</label>
                            <input ng-model="jurnalDetil.keterangan" ng-disabled="kondisiView" ng-keyup="cekLastDesc($event)" id="txtKeterangan" >
                            <md-tooltip>
                            Isi '=' untuk keterangan sama dg sebelumnya
                            </md-tooltip>
                        </md-input-container>
                        <md-input-container flex="20">
                            <label>Jumlah</label>
                            <input type="number" ng-model="jurnalDetil.jumlah" ng-keyup="cekLastJumlah($event)" 
                                ng-keypress="jgnSimpan()">
                            <md-tooltip>
                            Isi '0' untuk Jumlah sama dg sebelumnya
                            </md-tooltip>
                        </md-input-container>    

                        <md-input-container flex="30">
                            <!-- <label></label> -->
                            <label class="md-display-1">{{jurnalDetil.jumlah|number}}</label>                            
                        </md-input-container>    
                    </div>

                    <div layout="row">
                        <md-input-container flex="30">
                            <label>Bank</label>
                            <!-- md-on-open="loadBanks()" -->
                            <md-select ng-model="jurnalDetil.bank" ng-model-options="{trackBy: '$value.id'}" ng-disabled="kondisiView || !enableBank" >
                                <md-option ng-repeat="bank in banks" ng-value="bank"  >
                                {{bank.kode}}
                                </md-option>
                            </md-select>
                        </md-input-container>

                        <md-input-container flex="20">
                            <label>Nama</label>
                            <input type="text" ng-model="jurnalDetil.bank.nama" disabled >
                        </md-input-container>

                        <md-input-container flex="25">
                            <label>Rel</label>
                            <input type="text" ng-model="jurnalDetil.rel" ng-disabled="!enableRel">
                        </md-input-container>  

                        <div flex="25"  >
                            <md-autocomplete    
                                ng-disabled="!enableCust"
                                md-no-cache="true"
                                md-selected-item="jurnalDetil.customer"
                                md-search-text="searchTextCust"
                                md-items="customer in getCustomer(searchTextCust)"
                                md-item-text="customer.nama"
                                md-min-length="0"
                                md-autoselect="true"
                                md-floating-label="Customer ">
                                <md-item-template>
                                    <span md-highlight-text="searchTextCust" md-highlight-flags="^i">[{{customer.kode}}]-{{customer.nama}}</span>
                                </md-item-template>
                                <md-not-found>
                                    Tidak ditemukan
                                </md-not-found>
                            </md-autocomplete>  
                        </div>
                    </div>
                    <!-- </form> -->
                </md-card-content>

                <md-card-action layout="row" layout-align="Start">
                    <span flex></span>
                    <md-button class="md-primary md-raised" ng-click="tambahDetil($event)" aria-label="okay">
                        <md-icon md-svg-src="images/material-design-icons-3.0.1/navigation/svg/production/ic_check_36px.svg" ></md-icon></md-button>
                    <md-button class="md-warn" ng-click="tambahDetilNEW()">Clear</md-button>
                    <md-button class="md-warn" ng-click="SimpanIsiDetil=!SimpanIsiDetil">Close</md-button>
                </md-card-action>

            </md-card>
        </div> <!-- END OPEN DETIL -->
        <div ng-hide="SimpanIsiDetil">
            <br>    
            <br>    
        </div>                
        <!-- TABLE DETIL -->
            <div class="md-whiteframe-20dp" layout-padding flex=98 flex-offset=1>
            <md-table-container >
                <table md-table  >
                    <thead md-head  >
                        <tr md-row>
                            <th md-column style="color:rgb(128, 255, 128)" > </th> 
                            <th md-column style="color:rgb(128, 255, 128)" ><span>D/K</span> </th> 
                            <th md-column style="color:rgb(128, 255, 128)" ><span>Kode</span> </th> 
                            <th md-column style="color:rgb(128, 255, 128)" ><span>Nama</span> </th> 
                            <th md-column style="color:rgb(128, 255, 128)"><span>Bagian</span> </th> 
                            <th md-column style="color:rgb(128, 255, 128)"  ><span>Keterangan</span></th> 
                            <th md-column style="color:rgb(128, 255, 128)" ><span>Jumlah</span> </th>
                            <th md-column style="color:rgb(128, 255, 128)" ><span>kas/bank</span> </th> 
                            <th md-column style="color:rgb(128, 255, 128)" ><span>Rel</span> </th> 
                            <th md-column style="color:rgb(128, 255, 128)"><span>Cust</span> </th> 
                            <th md-column style="color:rgb(128, 255, 128)"><span >Action</span> </th>
                        </tr>   
                    </thead>
                    <tbody md-body>
                        <tr md-row  ng-repeat='JurnalDetil in jurnalDetils ' >
                            <td md-cell>{{$index+1}}.</td>            
                            <td md-cell  >
                                <div ng-if="JurnalDetil.debet==0">K</div>
                                <div ng-if="JurnalDetil.debet!=0">D</div>
                            </td>            
                            <td md-cell >{{JurnalDetil.accountDetil.kodePerkiraan}}</td>            
                            <td md-cell>{{JurnalDetil.accountDetil.namaPerkiraan | uppercase}}</td>
                            <td md-cell>{{JurnalDetil.bagian.kode | uppercase}}</td> 
                            <td md-cell style="max-width: 50px;" >{{JurnalDetil.keterangan | uppercase}}</td> 
                            <td md-cell>{{JurnalDetil.debet + JurnalDetil.kredit | number }}</td> 
                            <td md-cell>{{JurnalDetil.bank.kode | uppercase}}</td> 
                            <td md-cell>{{JurnalDetil.rel | uppercase}}</td> 
                            <td md-cell>{{JurnalDetil.customer.kode | uppercase}}</td> 
                            <td md-cell>
                                <div layout="row">
                                    <md-button class="md-icon-button " ng-click='hapusDetil($event,JurnalDetil.id,JurnalDetil.accountDetil.namaPerkiraan, $index+1)' ng-disabled="kondisiView">
                                        <md-icon md-svg-icon="images/material-design-icons-3.0.1/content/svg/production/ic_clear_24px.svg" style="color:rgb(255, 0, 0)"></md-icon>
                                        <md-tooltip>
                                            Hapus [ 
                                            {{JurnalDetil.accountDetil.namaPerkiraan}} - {{JurnalDetil.debet + JurnalDetil.kredit | number }} ]
                                        </md-tooltip>
                                    </md-button>                                        
                                    <md-button class="md-icon-button " ng-click='editDetil(JurnalDetil.id)' ng-disabled="kondisiView" >
                                        <md-icon md-svg-icon="images/material-design-icons-3.0.1/content/svg/production/ic_create_24px.svg" style="color:rgb(0, 255, 0)"></md-icon>
                                            <md-tooltip>
                                                Ubah [ 
                                                {{JurnalDetil.accountDetil.namaPerkiraan}} - {{JurnalDetil.debet + JurnalDetil.kredit | number }} ]
                                            </md-tooltip>
                                    </md-button>                                    
                                </div>
                            </td>           
                        </tr>       
                    </tbody>
                    <tfoot md-foot>
                        <tr md-row>
                            <td md-cell colspan="10">
                                <div layout="row" flex=100>
                                    <div flex=5>
                                        
                                    </div>
                                    <div flex=10>
                                        Total Debet
                                    </div>
                                    <div flex=40 ng-class="totalDebet==totalKredit ? 'tulisanHijau':'tulisanMerah' ">
                                        {{totalDebet | number:0}}
                                    </div>
                                    <div flex=10>
                                        Total Kredit
                                    </div>
                                    <div flex ng-class="totalDebet==totalKredit ? 'tulisanHijau':'tulisanMerah'" >
                                        {{totalKredit | number:0}}
                                    </div>
                                </div>                                
                            </td>                            
                        </tr>
                    </tfoot>
                </table>            
            </md-table-container>
<!--             <md-table-pagination md-limit="itemsPerPage" md-page="currentPage" md-total="{{totalItems}}" md-on-paginate="changePageDetil1" ></md-table-pagination> -->
        <!-- TABLE DETIL -->
            
            </div>
        </md-card-content>
        
    </md-card>    

</md-content>
</div>